body {
	margin: 0;
}

#container {
	position: relative;
	user-select: none;
}

#canvas {
	width: 100vw;
	height: 100vh;
	display: block;
}

#fps {
	position: absolute;
	right: 5px;
	top: 5px;
	background: rgba(0, 0, 0, 0);
	color: white;
	font-family: monospace;
	border-radius: .5em;
	background: rgba(0, 0, 0, 0);
}

#hud {
	position: absolute;
	left: 5px;
	top: 5px;
	background: rgba(120, 120, 120, .4);
	color: white;
	font-family: monospace;
	border-radius: .5em;
	padding: .5em;
	pointer-events: none;
	overflow: hidden;
}

#hud-trigger {
	pointer-events: auto;
	cursor: pointer;
	line-height: .7em;
	font-size: x-large;
}

#hud-inputs {
	transition: width .3s ease-out, height .3s ease-out;
	line-height: 24px;
	white-space: nowrap;
	text-align: right;
}

#hud-inputs.hidden {
	height: 0;
	width: 0;
}

#hud-inputs input {
	width: 80px;
	pointer-events: auto;
}